<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body ng-app="submitExample">
<script>
  var app = angular.module('submitExample', []);

    // Get the friends and their locations from a JSON
//    var userJSON = "http://stalker-api.azurewebsites.net/" + group;
    var friends;
/*    app.controller('customersCtrl', function($scope, $http) {
        $http.get(userJSON)
        .success(function(response) {$scope.friends = response; friends = response;});
    });*/

  // Post current user data to the Stalker API
  app.controller('ExampleController', ['$scope', '$http', function($scope, $http) {
    $scope.name = '';
    $scope.group = '';
    $scope.addMark = function() {
      if ($scope.name && $scope.group)
      {
        $http.get('http://stalker-api.azurewebsites.net/' + $scope.group)
        .success(function(response) {$scope.friends = response; friends = response;});
        setInterval(function(){ 
        if (navigator.geolocation)
          navigator.geolocation.getCurrentPosition(function(pos) {
            $http({
              url: 'http://stalker-api.azurewebsites.net/' + $scope.group,
              method: "POST",
              data: {
                "Name": $scope.name,
                "Location":
                {
                  "Latitude": pos.coords.latitude,
                  "Longitude": pos.coords.longitude
                }
              },
              headers: {'Content-Type': 'application/json'}
             });
		var marker = new google.maps.Marker({
		  position: {lat: Number(pos.coords.latitude), lng: Number(pos.coords.longitude)},
		  map: map,
		  title: "Your location"
		});
          });
        }, 3000);
        setInterval(function(){
          $http.get('http://stalker-api.azurewebsites.net/' + $scope.group)
          .success(function(response) {$scope.friends = response; friends = response;});
          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
          }
          markers = [];
          setMarkers(map);
        }, 2000);
      }
    };
  }]);

  // Initialize a Google map
  var map;
  var markers = [];
  function initMap(pos) {
    console.log(pos.coords.latitude + ", " + pos.coords.longitude);
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: pos.coords.latitude, lng: pos.coords.longitude},
      zoom: 12
    });
    //setMarkers(map);
  }

    // Mark friends in the map
    function setMarkers(map) {
      for (var buddy in friends)
      {
          markers.push(new google.maps.Marker({
          position: {lat: Number(friends[buddy].Location.Latitude), lng: Number(friends[buddy].Location.Longitude)},
          map: map,
          title: friends[buddy].Name,
        }));
      }
    }

  // Show map
  if (navigator.geolocation)
    navigator.geolocation.getCurrentPosition(initMap);
</script>
<form ng-submit="addMark()" ng-controller="ExampleController">
  <p>Your name : <input type="text" ng-model="name"></p>
  <p>Your group : <input type="text" ng-model="group"></p>
  <input type="submit" id="submit" value="Submit" />

</form>
<div id="map" ng-controller="customersCtrl"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBgVOMZAP6bgiZKXqmQDiw-R3JR49mNaM&callback=initMap"
        async defer></script>
  </body>
</html>
